{% extends 'baseAdmin.html.twig' %}

{% block title %}CarteVisiteFinale{% endblock %}

{% block body %}
    <h1>CarteVisiteFinale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carte_visite_finale.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ carte_visite_finale.imageName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ carte_visite_finale.createdAt ? carte_visite_finale.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ carte_visite_finale.updatedAt ? carte_visite_finale.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_carte_visite_finale_index') }}">back to list</a>

    <a href="{{ path('admin_carte_visite_finale_edit', {'id': carte_visite_finale.id}) }}">edit</a>

    {{ include('Admin/admin_graphisme/carte_visite/carte_visite_finale/_delete_form.html.twig') }}
{% endblock %}
