{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/login.css')}}">
{% endblock %}
{% block body %}
	<div class="row justify-content-center pb-5 mt-3 page ">
		<div class="col-md-8 col-md-offset-1 log"> 
			<div class="wrapper ">
				<div class="row no-gutters">
					<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
						<div class="contact-wrap w-100 p-md-5 p-4">
							<h3 class="mb-4 text-center">Se connecter</h3>
							<div id="form-message-warning" class="mb-4"></div>
							<div id="form-message-success" class="mb-4">
								Connecter vous maintenant
							</div>
							<form method="post" id="contactForm" class="contactForm">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										You are logged in as
										{{ app.user.username }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% endif %}
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="label" for="email"></label>
											<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
										</div>
									</div>
									<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="label" for="password"></label>
											<input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										</div>
									</div>
									</div>
									</div>
									<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input type="submit" value="connexion" class="btn btn-primary">
											<div class="submitting"></div>
										</div>
									</div>

									<p>
										<a href="{{path('app_register')}}" class="inscription">
											<span class='pass' style='color:#000'>mot de passe oublié ?
											</span>Créer un compte</a>
									</p>
								</div>
								{#
												        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
												        See https://symfony.com/doc/current/security/remember_me.html
												
												        <div class="checkbox mb-3">
												            <label>
												                <input type="checkbox" name="_remember_me"> Remember me
												            </label>
												        </div>
												    #}
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
						<div class="info-wrap bg-primary w-100 p-md-4 p-4">
							<h3></h3>

							<div class="dbox w-100 d-flex align-items-start">

								<div class="text pl-3"></div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">

								<div class="text pl-3"></div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">

								<div class="text pl-3"></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
