{% extends 'baseAdmin.html.twig' %}

{% block title %}ServiceWeb{% endblock %}

{% block body %}
    <h1>ServiceWeb</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_web.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ service_web.imageName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ service_web.createdAt ? service_web.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ service_web.updatedAt ? service_web.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_service_web_index') }}">back to list</a>

    <a href="{{ path('admin_service_web_edit', {'id': service_web.id}) }}">edit</a>

    {{ include('Admin/service_web/_delete_form.html.twig') }}
{% endblock %}
