<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Register</title>
		{% block stylesheets %}
			{{encore_entry_link_tags('login')}}
		{% endblock %}


	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="row">
						<div class="col-md-5 register-left">
							<img src="images/logo.png" alt="" class="affoubenou" width="150" height="150">
							<h3>rejoingnez nous</h3>
							<p>sur nos differents réseaux sociaux</p>

							<div class="reseaux">
								<a href="index.html"><img src="images/2.png" alt="" width="50" height="50"></a>
								<a href="index.html"><img src="images/3.png" alt="" width="50" height="50"></a>
								<a href="index.html"><img src="images/4.png" alt="" width="50" height="50"></a>
							</div>

						</div>
						<div class="col-md-7 register-right mb-5">
							<h3 class="titre">Créer un compte</h3>
							{% for flashError in app.flashes('verify_email_error') %}
								<div class="alert alert-danger" role="alert">{{ flashError }}</div>
							{% endfor %}
							<div>
								{{ form_start(registrationForm) }}
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											{{ form_row(registrationForm.nom) }}
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											{{ form_row(registrationForm.prenom) }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											{{ form_row(registrationForm.email) }}
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											{{ form_row(registrationForm.plainPassword, { label: 'Password'}) }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											{{ form_row(registrationForm.agreeTerms) }}
										</div>
									</div>
								</div>
								<div class="connecter mb-2">
									<button class="btn btn-primary">S'inscrire</button>
								</div>
								{{ form_end(registrationForm) }}
								<p>
									<a href="{{path('app_login')}}" class="login">
										<span class='pass' style='color:#000'>déjà un compte ?
										</span>connectez vous</a>
								</p>
								<div class="row">
									<div class="col-md-8"></div>
									<div class="col-md-4">
										<a href="{{path('app_home')}}" class="btn btn-secondary">
											Retour</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% block javascripts %}
				{{encore_entry_script_tags('login')}}
			{% endblock %}

		</body>
	</body>
</html>
