{% extends 'base.html.twig' %}

{% block title %}Badges index{% endblock %}

{% block body %}
    <h1>Badges index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Info</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badge in badges %}
            <tr>
                <td>{{ badge.id }}</td>
                <td>{{ badge.info }}</td>
                <td>{{ badge.quantite }}</td>
                <td>{{ badge.prix }}</td>
                <td>{{ badge.etat }}</td>
                <td>{{ badge.createdAt ? badge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ badge.updatedAt ? badge.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('badges_show', {'id': badge.id}) }}">show</a>
                    <a href="{{ path('badges_edit', {'id': badge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('badges_new') }}">Create new</a>
{% endblock %}
