{% extends 'base.html.twig' %}

{% block title %}Accueil | AFFOUBENOU
{% endblock %}

{% block body %}
	<div class="hero-wrap">
	{% set numero = 1 %}
		{% for slider in sliders %} 
			<div class="banner{{numero}}">
				<img src="{{ vich_uploader_asset(slider, 'imageFile')|imagine_filter('slider')}}" class="banner{{numero}}">
				<div class="text-box text-box{{numero}}">
					<h1>{{slider.titre}}</h1>
					<span></span>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique aspernatur itaque odit esse deleniti fugiat laboriosam vel beatae, facere vero recusandae explicabo illo assumenda commodi nihil voluptate, quam asperiores exercitationem.</p>
				</div>
			</div>
			{% set numero = numero + 1 %}
		{% endfor %}
	</div>
	<section class="ftco-section mt-5 ftco-no-pt bg-light slogan">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 d-flex">
					{% for imageslogan in imageslogans %}
						<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0 img-accueil" style="background-image:url({{ vich_uploader_asset(imageslogan, 'imageFile')|imagine_filter('slogan')}});"></div>
					{% endfor %}
				</div>
				<div class="col-md-6 pl-md-5 py-md-5">
					{% for slogan in slogans %}
						<div class="services-2 w-100 d-flex">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-touch">
									<i class="{{ slogan.icon }}"></i>
								</span>
							</div>
							<div class="text pl-4">
								<h4>{{ slogan.titre }}</h4>
								<p>{{ slogan.description }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section> 

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Nos services</h2>
					<div class="border-tarifs"></div>
				</div>
			</div>
			<div class="row d-flex">
				{% for serviceGraph in serviceGraphs  %}
					<div class="col-md-4 mb-3">
						<div class="card service-cad">
							<img src="{{ vich_uploader_asset(serviceGraph, 'imageFile')|imagine_filter('service_graph_accueil')}}" class="card-img-top card-img-service" alt="...">
							<a href="#" class="bouton btn btn-blue">Ajouter</a>
							<div class="card-body ">
								<h5 class="card-title text-center">{{serviceGraph.titre}}</h5> 
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section class="ftco-section testimony-section bg-light">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
					<h2>Equipe</h2>
					<div class="border-tarifs"></div>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl">
						{% for equipe in equipes %}
							<div class="item">
								<div class="testimony-wrap py-4">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="fa fa-quote-left"></span>
									</div>
									<div class="text">
										<p class="mb-4">{{equipe.description}}.</p>
										<div class="d-flex align-items-center">
											<div class="user-img" style="background-image: url({{ vich_uploader_asset(equipe, 'imageFile')|imagine_filter('equipe')}})"></div>
											<div class="pl-3">
												<p class="name">{{equipe.prenom}}
													{{equipe.nom}}</p>
												<span class="position">{{equipe.profession}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>  
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>BLOG</h2>
					<div class="border-tarifs"></div>
				</div>
			</div>
			<div class="row d-flex">
				{% for article in articles %}
					<div class="col-md-4 d-flex ftco-animate">
						<div class="blog-entry align-self-stretch">
							<a href="blog-single.html" class="block-20 rounded" style="background-image: url({{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article_index')}});"></a>
							<div class="text p-4">
								<div class="meta mb-2">
									<div>
										<P>{{article.createdAt | date('F')}} {{article.createdAt | date('d')}},{{article.createdAt | date('Y')}}</P>
									</div>
									<div>
										<a href="#">{{article.user.prenom}}</a>
									</div>
									<div>
										<a href="#" class="meta-chat">
											<span class="fa fa-comment"></span>
											{{article.commentaires | length}}</a>
									</div>
								</div>
								<h3 class="heading">
									<a href="{{ path('app_articles_show', {'slug': article.slug}) }}">{{article.contenu  | striptags |u.truncate(50,'...')}}</a>
								</h3>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section> 
{% endblock %}
