{% extends 'baseAdmin.html.twig' %}

{% block title %}CommandeLogo{% endblock %}

{% block body %}
    <h1>CommandeLogo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande_logo.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(commande_logo.servicesGraphisme, 'imageFile')|imagine_filter('article_admin')}}" alt=""></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ commande_logo.createdAt ? commande_logo.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ commande_logo.updatedAt ? commande_logo.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NomLogo</th>
                <td>{{ commande_logo.nomLogo }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ commande_logo.couleur }}</td>
            </tr>
            <tr>
                <th>Modification</th>
                <td>{{ commande_logo.modification }}</td>
            </tr>
        </tbody>
    </table>

   <a class="btn btn-primary" href="{{ path('admin_commande_logo_index') }}">Retour à la liste</a>
{% endblock %}
