{% extends 'baseAdmin.html.twig' %}


{% block title %}MainBadge index{% endblock %}

{% block body %}
    <h1>MainBadge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for main_badge in main_badges %}
            <tr>
                <td>{{ main_badge.id }}</td>
                <td>{{ main_badge.imageName }}</td>
                <td>{{ main_badge.createdAt ? main_badge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ main_badge.updatedAt ? main_badge.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_main_badge_show', {'id': main_badge.id}) }}">show</a>
                    <a href="{{ path('admin_main_badge_edit', {'id': main_badge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_main_badge_new') }}">Create new</a>
{% endblock %}
