{% extends 'baseProfile.html.twig' %}
{% block title %}Hello ModePaiementController!
{% endblock %}
{% block body %}
	<section class="mode-paiement mb-5">
		<div class="paiement">
			<h1 class="title">Choisissez votre mode de paiement</h1>
		</div>
		<div class="row mb-5">
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" class="btn btn-default" data-toggle="modal" data-target="#orange"><img src="{{asset('images/orang.png')}}" alt="image-operateur" class="image-operateur"></a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" data-toggle="modal" data-target="#mtn"><img src="{{asset('images/mtn.jpg')}}" alt="image-operateur" class="image-operateur"></a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" data-toggle="modal" data-target="#moov"><img src="{{asset('images/moov.png')}}" alt="image-operateur" class="image-operateur"></a>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<a href="#" data-toggle="modal" data-target="#espece"><img src="{{asset('images/prixrecu.png')}}" alt="image-operateur" class="image-operateur"></a>
			</div>
		</div>

		<div class="modal fade" id="orange">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Pour payer avec orange money
							<img src="{{asset('images/orang.png')}}" alt="" width="60" height="60"></h4>
						<button type="button" class="close" data-dismiss="modal">x</button>
					</div>
					<div class="modal-body">
						<div>
							<p class="text-description">Veillez composez cette syntaxe sur votre
								<br>
								Téléphone mobile
								<img src="{{asset('images/mobilephone.png')}}" alt="image-phone" class="image-phone">
								<br>
								<span style="color: red;">
									#144*1*1*montant*code secret#
								</span><br>
							</p>
							<form action="#">
								<img src="{{asset('images/notice.png')}}" alt="image-notice" class="image-notice">
								<label for="code" style="font-size: 20px;">Vous recevrez un code de confirmation</label>
								<input type="integer" name="code-confirm" class="form-control code-confirm mt-4" placeholder="Entrez le code de confirmation">
								<button type="submit" class="btn btn-success valide mt-3">Valide</button>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="mtn">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Pour payer avec momo
							<img src="{{asset('images/mtn.jpg')}}" alt="" width="60" height="60"></h4>
						<button type="button" class="close" data-dismiss="modal">x</button>
					</div>
					<div class="modal-body">
						<div>
							<p class="text-description">Veillez composez cette syntaxe sur votre
								<br>
								Téléphone mobile
								<img src="{{asset('images/mobilephone.png')}}" alt="image-phone" class="image-phone">
								<br>
								<span style="color: red;">
									*133*1*1*montant*code secret#
								</span><br>
							</p>
							<form action="#">
								<img src="{{asset('images/notice.png')}}" alt="image-notice" class="image-notice">
								<label for="code" style="font-size: 20px;">Vous recevrez un code de confirmation</label>
								<input type="integer" name="code-confirm" class="form-control code-confirm mt-4" placeholder="Entrez le code de confirmation">
								<button type="submit" class="btn btn-success valide mt-3">Valide</button>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="moov">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Pour payer avec flooz money
							<img src="{{asset('images/moov.png')}}" alt="" width="60" height="60"></h4>
						<button type="button" class="close" data-dismiss="modal">x</button>
					</div>
					<div class="modal-body">
						<div>
							<p class="text-description">Veillez composez cette syntaxe sur votre
								<br>
								Téléphone mobile
								<img src="{{asset('images/mobilephone.png')}}" alt="image-phone" class="image-phone">
								<br>
								<span style="color: red;">
									*155*1*1*montant*code secret#
								</span><br>
							</p>
							<form action="#">
								<img src="{{asset('images/notice.png')}}" alt="image-notice" class="image-notice">
								<label for="code" style="font-size: 20px;">Vous recevrez un code de confirmation</label>
								<input type="integer" name="code-confirm" class="form-control code-confirm mt-4" placeholder="Entrez le code de confirmation">
								<button type="submit" class="btn btn-success valide mt-3">Valide</button>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="espece">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Payer en espèce
						</h4>
						<button type="button" class="close" data-dismiss="modal">x</button>
					</div>
					<div class="modal-body">

						<div class="text-paiement mb-5">
							<p class="text-description">Vous recevrez en
								<span style="color: red;">48 heures
								</span>votre logo</p>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
