<div class="col-2">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Categorie
            </button>
            <div class="dropdown-menu"> 
              <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="{{path('profile_commande')}}">Logo simple</a> 
              <a class="dropdown-item" href="{{path('profile_commande_perso')}}">Logo personnaliser</a>               
               <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="{{path('profile_commande_carte_site')}}">Carte de visite</a>
              <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="{{path('profile_commande_carte_menu')}}">Carte de Menu</a>
              <div class="dropdown-divider"></div> 
              <a class="dropdown-item" href="{{path('profile_commande_affiche')}}">Affiche</a>
            </div>
          </div> 
</div>