{% extends 'baseProfile.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section class="commande">
    <div class="form-maj ">
      <div class="row">
        {{ include('profil/_categorie.html.twig') }}
        <div class="col-8">
          <h1 class="text-center mb-4">
            Commandes Logo simple
          </h1>
        </div>

      </div>
        
        {% for message in app.flashes('success') %}
        <div class="alert alert-primary" role="alert">
				{{ message }}
			</div>
    {% endfor %} 
        <table class="table tableau table-striped">  
            <thead>
                <tr> 
                    <th scope="col">Type</th>
                    <th scope="col">Quantité</th> 
                    <th scope="col">Prix</th>
                    <th scope="col">Etat</th> 
                    <th scope="col">Image</th> 
                    <th scope="col">Dates de commandes</th>
                </tr>
            </thead>
            <tbody>
            {% for commande_logo in commande_logos %}
              <tr>  
                    <td>{{commande_logo.typelogo}}</td>
                    {% if commande_logo.servicesGraphisme.nom == 'Logo' %}
                    <td class="nombre-commande">1</td>
                    {% else %}
                      <td class="nombre-commande">4</td>
                    {% endif %} 
                    <td>{{commande_logo.servicesGraphisme.prix}}fcfa</td>
                    {% if commande_logo.etat == false %}
                       <td style="color: #f6a722;">attente</td>  
                       <td style="color: #f6a722;">attente</td>  
                    {% else %}
                      <td style="color: green;">validé</td>
                      <td><a class="btn btn-success" href="{{path('profile_commande_graphisme_fili', {'id': commande_logo.id})}}">Voir</a></td>
                    {% endif %} 
                    <td class="date-commande">{{ commande_logo.createdAt ? commande_logo.createdAt|date('d-m-Y') : '' }}</td>
                </tr>
                {% else %}
            <tr>
                <td colspan="6" class="text-center">Vous n'avez pas de commande en attent</td>
            </tr>
            {% endfor %}  
            </tbody>
        </table>
       <div class="pagination">
        {{ knp_pagination_render(commande_logos) }}
      </div>
    </div> 
</section>
{% endblock %}