{% extends 'baseProfile.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section class="commande"> 
    <div class="form-maj ">
        <h1 class="text-center mb-4"><img src="{{asset('images/monitor.png')}}" alt="image-commande" class="image-commande">Vos commandes</h1>
        <table class="table tableau table-striped">
            <thead>
                <tr>
                    <th scope="col">N°</th> 
                    <th scope="col">Produits</th>
                    <th scope="col">Quantité</th> 
                    <th scope="col">Prix</th>
                    <th scope="col">Etat</th> 
                    <th scope="col">Image</th> 
                    <th scope="col">Dates de commandes</th>
                </tr>
            </thead>
            <tbody>
            {% for commande_logo in commande_logos %}
              <tr>
                    <th scope="row">{{commande_logo.id}}</th> 
                    <td>{{commande_logo.servicesGraphisme.nom}}</td>
                    {% if commande_logo.servicesGraphisme.nom == 'Logo' %}
                    <td class="nombre-commande">1</td>
                    {% else %}
                      <td class="nombre-commande">4</td>
                    {% endif %} 
                    <td>{{commande_logo.servicesGraphisme.prix}}fcfa</td>
                    {% if commande_logo.etat == false %}
                       <td style="color: #f6a722;">attente</td>  
                       <td style="color: #f6a722;">attente</td>  
                    {% else %}
                      <td style="color: green;">validé</td>
                      <td><a class="btn btn-success" href="{{path('vue_produit')}}">Voir Produits</a></td>
                    {% endif %} 
                    <td class="date-commande">{{ commande_logo.createdAt ? commande_logo.createdAt|date('d-m-Y') : '' }}</td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
        <nav class="text-center" aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
    </div> 
</section>
{% endblock %}