{% extends 'basecommande.html.twig' %}
{% block title %}Affoubenou | commande - logo
{% endblock %}
{% block body %}
	<section class="container-fluid commande-logo">
    
		<div class="text-commande-logo mb-5">
			<h1>Faite votre choix du {{categorie.nomCategorie}}</h1> 	
		</div> 
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <a class="" href="{{path('profile_service_graphisme_logo', {'id': categorie.id})}}">
                    <img src="{{asset('images/Rectangle2.png')}}" class="card-img" alt="...">
                    <div class="card-img-overlay"> 
                            <h1 class="card-title text-center text-white text-choix">Logo déjà consure</h1> 
                    </div>
                </a> 
                </div> 
            </div>
            <div class="col-md-6"> 
                <div class="card bg-dark text-white">
                    <a class="" href="{{path('profile_commande_logo_personalise_new')}}">
                    <img src="{{asset('images/Rectangle1.jpg')}}" class="card-img" alt="...">
                    <div class="card-img-overlay"> 
                            <h1 class="card-title text-center text-white text-choix">Personnalisé à votre goût</h1> 
                    </div>
                </a>
                </div> 
                
            </div>
        </div>
	</section>
{% endblock %}
