{% extends 'basecommande.html.twig' %}
{% block title %}Affoubenou | commande - logo
{% endblock %}
{% block body %}
	<section class="container-fluid commande-logo">
		<div class="text-commande-logo mb-5">
			<h1>Commandez des {{categorie.nomCategorie}}s sur mesure</h1>
					
		</div>
		{% for row in serviceLogos|batch(3) %}
		<div class="row ">
		{% for serviceLogo in row %}
			<div class="col-sm-12 col-md-4 mb-5 ">
					<div class="card thumbnail-log">
						<img src="{{ vich_uploader_asset(serviceLogo, 'imageFile')|imagine_filter('service_graph_accueil')}}" alt="image-logo">
						<div class="prix-logo">{{serviceLogo.prix}}f</div>
						<div class="caption caption-logo">
							<h4>{{serviceLogo.nom}}</h4>
							{% if serviceLogo.nom == 'Logo' %}
								<a href="{{path('profile_commande_graphisme',{'id': serviceLogo.id})}}" class="btn btn-order" role="button">
								<i class="fa fa-shopping-cart image-shopping"></i>
								Commander</a>
							{% endif %} 
							
						</div>
					</div>
				</div>
		{% endfor %} 
			</div> 
			{% endfor %} 
	</section>
{% endblock %}
