{% extends 'base.html.twig' %}

{% block title %}A propos | AFFOUBENOU
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<section class="apropos">
		<div class="mt-5 mb-4">
			<h1 class="text-center titre">A propos de Nous</h1>
		</div>
		<div class="row mb-5">
		{% for identite_du_site in identite_du_sites %}
			<div class="col-md-6">
				<div class="imgapro pl-6" style="background-image:url({{ vich_uploader_asset(identite_du_site, 'imageFile')}})"></);"></div>
			</div>
			<div class="col-md-6">
				<p class="mt-5">
					{{identite_du_site.contexte | raw}}
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="separer"></div>
		<div class="banner mt-5">
		{% for avantage_du_site in avantage_du_sites %}
			<div class="slider">
				<img src="{{ vich_uploader_asset(avantage_du_site, 'imageFile')}}" id="slideImg">
			</div>
			<div class="overlay">
				<div class="question">
					<h1>{{avantage_du_site.question}}
					</h1>
				</div>
			</div>

		</div>
		<div class="explication">
			<p>{{avantage_du_site.contenue | raw}}
			</p>
		</div>
		{% endfor %}
		<div class="mt-5 temoignage-titre ">
			<h1 class="text-center titre">Témoignages</h1>
		</div>
		<div class="row mb-5 swiper-container">
			<div class="col-md-4 swiper-wrapper">
			{% for temoignage in temoignages %}
				<div class="card jaune swiper-slide">
					<img src="{{temoignage.imageName}}" class="card-img-top img-temoignage" alt="...">
					{{temoignage.username}}
					<div class="card-body body-temoignage">
						<small>{{temoignage.contenue}}</small>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
 
