{% extends 'baseAdmin.html.twig' %}

{% block title %}CommandeFinale{% endblock %}

{% block body %}
<div class="container">
    
    <h1 class="text-center pt-5 mb-5">Votre travail</h1> 
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center" style="color: rgb(52, 52, 235);">Produit à réaliser</h1>
            <p class="text-center text-muted">Avec filigrame</p>
            <img src="{{ vich_uploader_asset(commande_finalepeso, 'imageFile')|imagine_filter('image_detail_admin')}}"
                alt="">
            <p><span>Date de commande</span></p>
            <p>{{ commande_finalepeso.commandelogoperso.createdAt ? commande_finalepeso.commandelogoperso.createdAt|date('Y-m-d H:i:s') : '' }}</p>
            <a class="btn btn-primary" href="{{ path('admin_commande_logo_travail') }}">Retour à la liste</a>
        </div>
        <div class="col-md-6">
            <h1 class="text-center" style="color: rgb(52, 235, 67);">Produit finit</h1>
            <p class="text-center text-muted">sans filigrame</p>
            <img src="{{ vich_uploader_asset(commande_finalepeso, 'imageFile')|imagine_filter('image_detail_admin')}}"
                alt="">
            <p><span>Date de commande</span></p>
            <p>{{ commande_finalepeso.createdAt ? commande_finalepeso.createdAt|date('Y-m-d H:i:s') : '' }}</p>
            <div class="action mb-5">
                <a class="btn btn-secondary" href="{{ path('admin_commande_finale_edit', {'id': commande_finalepeso.id}) }}">edit</a>
                {{ include('Admin/admin_graphisme/logo/commande_finale/_delete_formperso.html.twig') }}</div>
        </div>
    </div>
</div>  
{% endblock %}