{% extends 'base.html.twig' %}

{% block title %}BadgesFiligramme index{% endblock %}

{% block body %}
    <h1>BadgesFiligramme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for badges_filigramme in badges_filigrammes %}
            <tr>
                <td>{{ badges_filigramme.id }}</td>
                <td>{{ badges_filigramme.imageName }}</td>
                <td>{{ badges_filigramme.createdAt ? badges_filigramme.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ badges_filigramme.updatedAt ? badges_filigramme.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('badges_filigramme_show', {'id': badges_filigramme.id}) }}">show</a>
                    <a href="{{ path('badges_filigramme_edit', {'id': badges_filigramme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('badges_filigramme_new') }}">Create new</a>
{% endblock %}
