{% extends 'base.html.twig' %}

{% block title %}BadgesFiligramme{% endblock %}

{% block body %}
    <h1>BadgesFiligramme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ badges_filigramme.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ badges_filigramme.imageName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ badges_filigramme.createdAt ? badges_filigramme.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ badges_filigramme.updatedAt ? badges_filigramme.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('badges_filigramme_index') }}">back to list</a>

    <a href="{{ path('badges_filigramme_edit', {'id': badges_filigramme.id}) }}">edit</a>

    {{ include('badges_filigramme/_delete_form.html.twig') }}
{% endblock %}
