{# {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">{{form_row(form.titre)}}</div> 
    </div> 
    <div class="row"> 
        <div class="col-md-6">{{form_row(form.contenu)}}</div>
        <div class="col-md-3">{{form_row(form.imageFile)}}</div>
    </div>
        {{ form_rest(form) }}
        <p>
            <button class="btn btn-primary">{{button|default('Enregistrer')}}</button>
        </p>
{{ form_end(form) }} #}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{button|default('Enregistrer')}}</button>
{{ form_end(form) }}
