{% extends 'baseAdmin.html.twig' %}

{% block title %}Badge{% endblock %}

{% block body %}
    <h1>Badge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ badge.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ badge.info | raw }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ badge.quantite }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ badge.createdAt ? badge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ badge.updatedAt ? badge.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>   
            <tr>
                <th>Etat</th>
                <td>{{ badge.etat }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ badge.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_badge_index') }}">back to list</a> 
{% endblock %}
