{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %} 

<section class="contact ">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 mt-5 mb-5 contact">
                    <h1 class="title" style="text-align: center">Contactez-nous </h1>
                    <img src="{{asset('images/image2.png')}}" alt="" class="imag-responsive">
                </div>
                <div class="col-md-6 mt-5">
                    {{ form_start(form) }} 
                        <div class="form-group form-contact">
                            {{ form_row(form.prenom,{'label':false}) }}
                        </div> 
                        <div class="form-group form-contact">
                            {{ form_row(form.email,{'label':false}) }}
                        </div> 
                        <div class="form-group form-contact">
                            {{ form_row(form.message) }}
                        </div>
                        {# <label for="message" class="message mt-4">Votre message</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control mt-4"></textarea> #}
                        <div class="button"><button type="submit" class="btn btn-primary btn-contact">Envoyer</button>
                        </div>
                        {{ form_end(form) }} 
                </div>
            </div>
        </div>
    </section> 
        {# <h1>Create new Contact</h1>
        {{ include('contact/_form.html.twig') }}   #}
{% endblock %}
