{% extends 'baseAdmin.html.twig' %}

{% block title %}AfficheFiligrame{% endblock %}

{% block body %}
    <h1>AfficheFiligrame</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affiche_filigrame.id }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ affiche_filigrame.imageName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ affiche_filigrame.createdAt ? affiche_filigrame.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ affiche_filigrame.updatedAt ? affiche_filigrame.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_affiche_filigrame_index') }}">back to list</a>

    <a href="{{ path('admin_affiche_filigrame_edit', {'id': affiche_filigrame.id}) }}">edit</a>

    {{ include('affiche_filigrame/_delete_form.html.twig') }}
{% endblock %}
