{% extends 'baseAdmin.html.twig' %}

{% block title %}Sliders index{% endblock %}

{% block body %}
    <h1>Les images defilant</h1>
    <a href="{{ path('admin_sliders_new') }}" class=" btn btn-primary">Nouveau</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Titre</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                <td>{{ slider.id }}</td>
                <td>{{ slider.user.prenom }}</td>
                <td>{{ slider.titre }}</td>
                <td>
                    <img src="{{ vich_uploader_asset(slider, 'imageFile')|imagine_filter('slider_admin')}}" alt="">
                </td>
                <td>{{ slider.createdAt ? slider.createdAt|date('d-F-Y H:i') : '' }}</td>
                <td>{{ slider.updatedAt ? slider.updatedAt|date('d-F-Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('admin_sliders_show', {'id': slider.id}) }}" class="btn btn-warning">show</a>
                    <a href="{{ path('admin_sliders_edit', {'id': slider.id}) }}"class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
{% endblock %}
