{% extends 'baseAdmin.html.twig' %}

{% block title %}Sliders{% endblock %}

{% block body %}

<div class="container">
        <h1>{{ slider.titre }}</h1>
        <a href="{{ path('admin_sliders_index') }} "class="btn btn-primary">Retour à la liste</a>
        <div class="row mt-4">
            <div class="col-md-2 ">
                <p>numéro d'slider</p>
                <b class="text-rigth">{{ slider.id }}</b>
            </div>
            <div class="col-md-6">
            <p class="text-center">slug</p>
                <h3 class="text-center">{{ slider.titre }}</h3>
            </div>
            <div class="col-md-2">
            <p>Date de création</p>
                <h6 class="text-center" style="background-color: green;color:white;border-radius:50px;width:20vh;">{{ slider.createdAt ? slider.createdAt|date('d-F-Y') : '' }}</h6>
            </div>
            <div class="col-md-2">
                <p>Date de modification</p>
                <h6 class="text-center" style="background-color: blue;color:white;border-radius:50px;width:20vh;">{{ slider.updatedAt ? slider.updatedAt|date('d-F-Y') : '' }}</h6>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-12 text-center ">
                <img src="{{ vich_uploader_asset(slider, 'imageFile')|imagine_filter('slider_admin')}}" alt=""> 
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6 mb-4 text-center">  
	        <a href="{{ path('admin_sliders_edit', {'id': slider.id}) }}" class="btn btn-secondary">edit</a> 
            </div>
            <div class="col-md-6 mb-4 text-center">
                {{ include('Admin/sliders/_delete_form.html.twig') }}
            </div> 
        </div>
	
    </div>

    
{% endblock %}
