{% extends 'baseAdmin.html.twig' %}

{% block title %}Slogan index{% endblock %}

{% block body %}
    <h1>Slogan index</h1>
    <a href="{{ path('admin_image_slogan_index') }}" class="btn btn-primary">Ajouter une image</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th> 
                <th>Icon</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slogan in slogans %}
            <tr>
                <td>{{ slogan.id }}</td>
                <td>{{ slogan.titre }}</td> 
                <td>{{ slogan.icon }}</td>
                <td>{{ slogan.createdAt ? slogan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ slogan.updatedAt ? slogan.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_slogan_show', {'id': slogan.id}) }}">show</a>
                    <a href="{{ path('admin_slogan_edit', {'id': slogan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_slogan_new') }}">Create new</a> <br>
    
{% endblock %}
