{% extends 'base.html.twig' %}

{% block title %}CommandeFinale index{% endblock %}

{% block body %}
    <h1>CommandeFinale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande_finale in commande_finales %}
            <tr>
                <td>{{ commande_finale.id }}</td>
                <td>{{ commande_finale.imageName }}</td>
                <td>{{ commande_finale.createdAt ? commande_finale.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande_finale.updatedAt ? commande_finale.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commande_finale_show', {'id': commande_finale.id}) }}">show</a>
                    <a href="{{ path('commande_finale_edit', {'id': commande_finale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_finale_new') }}">Create new</a>
{% endblock %}
