{% extends 'baseAdmin.html.twig' %}

{% block title %}CategorieWeb index{% endblock %}

{% block body %}
    <h1>CategorieWeb index</h1>
    <a class="btn btn-dark mb-4 mt-4" href="{{ path('admin_categorie_web_new') }}">Creer Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_web in categorie_webs %}
            <tr>
                <td>{{ categorie_web.id }}</td>
                <td>{{ categorie_web.nom }}</td>
                <td>{{ categorie_web.createdAt ? categorie_web.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ categorie_web.updatedAt ? categorie_web.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('admin_categorie_web_show', {'id': categorie_web.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('admin_categorie_web_edit', {'id': categorie_web.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 
{% endblock %}
