{% extends 'baseAdmin.html.twig' %}

{% block title %}CommandePredefine{% endblock %}

{% block body %}
    <h1>CommandePredefine</h1>

    <pre> 
    </pre>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande_predefiniePerso.id }}</td>
            </tr> 
            <tr>
                <th>ImageFiligrame</th>
                <td><img src="{{ vich_uploader_asset(commande_predefiniePerso, 'imageFile')|imagine_filter('article_admin')}}" alt=""></td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ commande_predefiniePerso.createdAt ? commande_predefiniePerso.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ commande_predefiniePerso.updatedAt ? commande_predefiniePerso.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_commande_logo_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_commande_predefinie_edit_perso', {'id': commande_predefiniePerso.id}) }}">edit</a>

    {{ include('Admin/admin_graphisme/logo/commande_predefinie/_delete_form_perso.html.twig') }}
{% endblock %}
