{% extends 'baseAdmin.html.twig' %}

{% block title %}CommandeLogo index{% endblock %}

{% block body %}
<h1>CommandeLogo index</h1>

<a class="btn btn-dark mb-4 mt-4" href="{{ path('admin_commande_logo_index') }}">Aller à la partie dépot</a>
<div class="row">  
    <div class="col-md-12"> 
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Date de la commande</th> 
                    <th class="text-center">Date de la livraison</th> 
                    <th class="text-center">Nom du client</th> 
                    <th class="text-center">Voir</th>
                </tr>
            </thead>
            <tbody>
                {% for commande_logo_finale in commande_logo_finale %}
                <tr>
                    <td class="text-center">
                        {{commande_logo_finale.commandelogo.createdAt ? commande_logo_finale.commandelogo.createdAt|date('d-m-Y H:m') : ''}}
                    </td>
                    <td class="text-center">
                        {{commande_logo_finale.createdAt ? commande_logo_finale.createdAt|date('d-m-Y H:m') : ''}}
                    </td>
                    <td class="text-center">
                        {{commande_logo_finale.commandelogo.user.prenom}}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success"
                            href="{{ path('admin_commande_finale_show', {'id': commande_logo_finale.id}) }}"> <i
                                class="fas fa-eye"></i> sans filigrame</a>
                    </td>
                </tr>
                {% endfor %}
                {% for commande_logo_finale_perso in commande_logo_finale_persos %}
                <tr>
                    <td class="text-center">
                        {{commande_logo_finale_perso.commandelogoperso.createdAt ? commande_logo_finale_perso.commandelogoperso.createdAt|date('d-m-Y H:m') : ''}}
                    </td>
                    <td class="text-center">
                        {{commande_logo_finale_perso.createdAt ? commande_logo_finale_perso.createdAt|date('d-m-Y H:m') : ''}}
                    </td>
                    <td class="text-center">
                        {{commande_logo_finale_perso.commandelogoperso.user.prenom}}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success"
                            href="{{ path('admin_commande_finale_show_perso', {'id': commande_logo_finale_perso.id}) }}"> <i
                                class="fas fa-eye"></i> sans filigrame</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}